<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>每天都被自己帅醒!</title>
  <link rel="stylesheet" href="">
  <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
  <div id="app">
    <fieldset>
      <legend>遍历数组</legend>
      <ol>
        <!--item和index的变量名可以随便的修改-->
        <!--v-for指令:遍历数据的指令,key中放的是标识-->
        <li v-for="(per,index) in persons" :key="per.id">
          索引:{{index}}---id:{{per.id}}--名字:{{per.name}}---年龄:{{per.age}}---性别:{{per.gender}}
        </li>
      </ol>
      <hr>
      <ul>
        <!--再次遍历数组-->
        <li v-for="per in persons" :key="per.id">
          id:{{per.id}}--名字:{{per.name}}---年龄:{{per.age}}---性别:{{per.gender}}
        </li>

      </ul>
    </fieldset>
    <hr>
    <fieldset>
      <legend>遍历对象</legend>
      <ul>

        <li v-for="(value,key,index) in obj" :key="index">
          属性名字:{{key}}---属性值:{{value}}----索引:{{index}}
        </li>

      </ul>
    </fieldset>
  </div>
  <script type="text/javascript">
    // 需求:Vue中如何遍历数据,展现多个标签

    // 实例化Vue

    const vm = new Vue({
      el: '#app',
      data: {
        persons: [

          { id: 1, name: '卡卡西', age: 34, gender: '男' },
          { id: 2, name: '自来也', age: 45, gender: '男' },
          { id: 3, name: '黑崎一护', age: 16, gender: '男' },
          { id: 4, name: '佐助', age: 18, gender: '男' },
          { id: 5, name: '华哥', age: 57, gender: '女' }
        ],
        obj:{
          name:'凤姐',
          age:35,
          gender:'男'
        }
      }
    });





    // 对象,具有一定的属性或者方法,特指的某个事物
    // 对象有特征或行为,特征---属性,行为---方法
    // var per = {
    //   name:'小明',
    //   age:20,
    //   sayHi(){
    //     console.log('啊捏哈谁有')
    //   }
    // }


    /*

      v-for指令:
      语法1:
       v-for="(表达式1,表达式2) in 数组"
       表达式1---->数组中每一个项--->数组元素
       表达式2---->数组中的索引
      语法2:
       v-for="表达式 in 数组"
       表达式---->数组中每一个项----数组元素

      语法3:
       v-for="(表达式1,表达式2,表达式3) in 对象"
       表达式1--->值
       表达式2--->键
       表达式3--->索引



       :key="表达式" 该表达式一般都是唯一的值,主要是用来标识该标签的唯一性
       涉及到渲染虚拟DOM的时候效率的问题
       虚拟DOM:---Vue的源码分析就清楚了
       渲染:把虚拟DOM展示在界面中,变成了真实的DOM
       :key=""值最好是使用唯一的标识值,如果仅仅是遍历数组展示数据信息,此时使用索引是可以的(一旦修改数组中的数据,或者排序操作,或者删除数据,那么此时不推荐使用索引,还是推荐使用唯一标识)



    */



  </script>
</body>

</html>